<div mat-dialog-content>
  <p mat-dialog-title>{{ data.title }}</p>
  <img [src]="data.image | image" [alt]="data.title" style="width: 100%">
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
</div>
