<app-centered-card title="Add new photo">
  <div class="error" *ngIf="error | async">{{ error | async}}</div>
  <form
    #f="ngForm"
    fxLayout="column"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field appearance="outline" class="field">
      <mat-label>Title</mat-label>
      <input
        type="text"
        name="title"
        required
        matInput
        ngModel
        #title="ngModel"
      />
      <mat-error *ngIf="title.touched && title.hasError('required')">
        Title is required!
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="field">
      <mat-label>Image</mat-label>
      <app-file-input name="image" ngModel required></app-file-input>
    </mat-form-field>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="f.invalid || (loading | async)"
    >
      Add
    </button>
  </form>
</app-centered-card>
