<div class="error" *ngIf="error | async">{{ error | async}}</div>
<mat-progress-spinner
  *ngIf="(loading | async) else photosCards"
></mat-progress-spinner>
<ng-template #photosCards>
  <div fxLayout="row wrap" fxLayoutGap="20px grid">
    <div fxFlex="25%" *ngFor="let photo of photos | async">
      <mat-card class="card">
        <button class="photo-btn" (click)="openModalWindow(photo.image, photo.title)">
          <img [src]="photo.image | image" [alt]="'Photo of ' + photo.title"/>
          <mat-card-title>{{ photo.title }}</mat-card-title>
        </button>
        <a [routerLink]="['/photos/user', photo.user._id]">
          <mat-card-subtitle>{{ photo.user.displayName }}</mat-card-subtitle>
        </a>
      </mat-card>
    </div>
  </div>
</ng-template>




