/* You can add global styles to this file, and also import other style files */
body
  background-color: #a19ca1

.error
  background-color: #f44336
  padding: 20px
  color: white
  margin-bottom: 15px
  text-align: center
  border-radius: 2px

.card
  text-align: center

.field
  margin-bottom: 15px

.photo-btn
  border: none
  background-color: inherit

.photo-btn img
  max-width: 100%





