<div class="error" *ngIf="error | async">{{ error | async}}</div>
<div class="error" *ngIf="removeError | async">{{ removeError | async}}</div>
<mat-progress-spinner
  *ngIf="(loading | async) else userPhotosCards"
></mat-progress-spinner>
<ng-template #userPhotosCards>
  <div *ngIf="isMatchUsersId else otherUserDisplayName" fxLayout="row" fxLayoutAlign="space-between start">
    <h1>My gallery</h1>
    <a mat-raised-button routerLink="/new-photo">Add new photo</a>
  </div>
  <ng-template #otherUserDisplayName>
    <h1>{{ (photos | async)![0]!.user.displayName }}'s gallery</h1>
  </ng-template>
  <div fxLayout="row wrap" fxLayoutGap="20px grid">
    <div fxFlex="25%" *ngFor="let photo of photos | async">
      <mat-card class="card">
        <button class="photo-btn" (click)="openModalWindow(photo.image, photo.title)">
          <img [src]="photo.image | image" [alt]="'Photo of ' + photo.title"/>
          <mat-card-title>{{ photo.title }}</mat-card-title>
        </button>
        <mat-card-footer *ngIf="isMatchUsersId" class="footer">
          <button
            mat-mini-fab
            color="accent"
            [disabled]="removeLoading | async"
            (click)="removePhoto(photo.id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</ng-template>





